# dependencies
node_modules

# output
out
dist
*.tgz

# coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env.*

# caches
.eslintcache
.cache
.frame-master
*.tsbuildinfo

# IDE / OS
.idea
.DS_Store
